<div data-sly-use.modelTeste="com.trilha03.core.models.ModelTeste">
    <h2 class="cmp-modelteste__title">Componente Model Teste</h2>
    <div class="cmp-modelteste__item">
        <p class="cmp-modelteste__item-label">Nome:</p>
        <pre class="cmp-modelteste__item-output" data-cmp-hook-modelteste="nome">${modelTeste.nome}</pre>
    </div>
    <div class="cmp-modelteste__item">
        <p class="cmp-modelteste__item-label">Idade:</p>
        <pre class="cmp-modelteste__item-output" data-cmp-hook-modelteste="idade">${modelTeste.idade}</pre>
    </div>
</div>
